/*-=-=-=Download-Fonts-=-=-=-*/
@font-face {
	font-family: lato_bold;
	src: url(Lato/Lato-Bold.woff);
}
@font-face {
	font-family: Lato_Regular;
	src: url(Lato/Lato-Regular.woff);
}
body{
	font-family: 'Titillium Web', sans-serif;
}
/*-=-=-=Download-Fonts-=-=-=-*/

/*-=-=-=Comon Css-=-=-=-*/

img{
	width: 100%;
	height:  auto;
}
a:hover{
	text-decoration: none;
}
p{
	font-family: 'Lato_Regular';
	color: #999999;
}
.service_logo img{
	width: 100%;
	height: auto;
}

/*-=-=-=Comon Css-=-=-=-*/

/*-=-=-=Genarel-Css-=-=-=-*/
.strict_header{
	background-color: #f6f9f9;
	padding: 30px 0;
}
.Strict_menu{}
.Strict_menu ul li a{
	padding: 10px 25px;
	font-family: lato_bold;
	display: block;
	color: #454444;
	text-transform: capitalize;
	transition: .5s;
}
.Strict_menu ul li a:hover{
	color: #15a4fa;
}

/*-=-=-=-=--Banner-section-=-=-=-=-*/
.strict_banner{
	background-image: url(img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 150px 0px 25px
}
.strict_banner_text{
	text-align: center;
}

.strict_banner_text h1{
	color: #fff;
	text-transform: uppercase;
	font-size: 70px;
	font-family: lato_bold;
	padding-bottom: 30px;
}
.strict_banner_text span{
	color: #fff;
	font-family: Lato_Regular;
	border-top: 1px solid #15a4fa;
	padding: 30px 20px 0;
	display: inline-block;
}
.strict_batton{
	margin-top: 150px;
	margin-bottom: 170px;
}
.strict_batton a{
	color: #fff;
	font-family: Lato_Regular;
	border: 1px solid #15a4fa;
	padding:10px 25px;
	border-radius: 2px;
	transition: .5s;
}
/*-=-=-=-Aroe-Batton-=-=-=-=*/
.strict_arrow {
    margin-top: 90px;
}
.strict_arrow i {
	color: #fff;
	font-size: 30px;
}
.strict_batton a:hover{
	background-color: #15a4fa;
}

/*-=-=-about-us-=-=-*/
.about_us_section{
	background-color: #f6f9f9;
	text-align: center;
	padding: 75px;
}
.about_us_section h2{
	font-family: Lato_Regular;
	color: #2d3950;
}
/*-=-=-=-=-=-service_items-=-=-=-=-=--*/
.service_items{
	padding: 65px;
}
.service_logo {
    text-align: center;
    background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 30px;
    border-radius: 3px;
}
.col-md-4 h4 {
    margin-top: 20px;
}
.col-md-4 {
    text-align: center;
}

.service_logo i {
    font-size: 30px;
    color: #fff;
}

/*-=-=-=-=-Work-service-item-section*/
.work_section{
	background-color: #f6f9f9;
	text-align: center;
	padding-top: 50px;
	font-family: Lato_Regular;
}
.work_section h2{
	color: #2d3950;
}
.work_section p{
	font-size: 15px;
	color: #909090;
}
/*background-color: rgb(21, 164, 250);*/

.portfolio_section{
	background-color: #f6f9f9;
	padding: 75px;
	overflow: hidden;
}
.pft_header{
	text-align: center;
}
.pft_header h4{
	color: #2d3950;
	font-size: 30px;
	font-family: Lato_Regular;
}
.pft_boxes {
    width: 90%;
    margin: 0 auto;
}

.pft_singel_boxe {
    float: left;
    width: 300px;
    margin: 10px;
    position: relative;
}
.pft_item{
	padding-top: 50px;
}
.pft_overly{
	background-color: rgba(21, 164, 250, .9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition-duration: .3s;
}
.pft_overly ul{
	padding: 0;
	list-style: none;
	display: flex;
}
.pft_overly ul li{
	border: 1px solid #fff;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	border-radius: 3px;
}
.pft_overly ul li i{
	color: #fff;
}
.pft_singel_boxe:hover .pft_overly{
	opacity: 1;
}

/*-=-=-=-=-=Stay-With-Us-Css-=-=-=-=-=-=-*/
.stay_with_us{
	background-image: url(img/contract-back.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 90px;
}
.stay_with_overly{
	background: rgb(45, 57, 80);
}